<div class="modal fade" id="order-online-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Order Online</h4>
            </div>

            <div class="modal-body">
                <h2>Please choose a location:</h2>
                <ul class="listless">
                    <li> - <a href="http://www.menulog.com.au/order/melt-pizza" target="_blank">Order online for MELT WINDSOR</a></li>
                    <li> - <a href="http://www.menulog.com.au/order/melt-pizza-richmond" target="_blank">Order online for MELT RICHMOND</a></li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
