{% extends 'WebsiteBundle:Layout:base.html.twig' %}

{% block body %}
<!-- PARTNER SECTION -->
<section class="" id="section--menu">
    <div class="constrained soft--top">
        <div class="row">
            <h2>Melt Raise The Dough</h2>
        </div><!-- row -->
    </div><!-- constrained -->
</section>
{% endblock body %}
