{% extends 'WebsiteBundle:Layout:base.html.twig' %}

{% block body %}
<!-- LANDING SECTION -->
<div class="constrained" id="section--top">

    <!-- MAIN NAV -->
    <div class="row" id="body-nav--container">

        <div class="col-md-4 col-sm-12 text-right body-nav--item">
            <a href="http://melt.com.au/##section--menu"><img src="{{ asset('/bundles/website/images/body_nav__menu.png') }}" width="125px" height="42px" /></a>
        </div>

        <div class="col-md-4 col-sm-12 hidden-sm hidden-xs">
            <a href="http://melt.com.au/"><img src="{{ asset('/bundles/website/images/body_logo.png') }}" width="330px" height="312px" /></a>
        </div>

        <div class="col-md-4 col-sm-12 body-nav--item">
            <a href="http://melt.com.au/##section--about"><img src="{{ asset('/bundles/website/images/body_nav__about.png') }}" width="125px" height="42px" /></a>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 push--bottom" id="privacy--box">
            <h1>Privacy Policy</h1>

            <h2>DISCLAIMER</h2>

            <p>Although duty and care is taken to provide you, with accurate and truthful information, 
            please note that we cannot guarantee the accuracy of all the information we post. For example 
            prices may be subject to change, and typographical errors may occur. We will do our best to 
            keep this site up to date with correct information as we don’t want any of you to be confused 
            by anything you read or see. Please understand that this is a manual process, so please realise 
            that we may not be able to remove or edit particular parts immediately.</p>

            <p>If you find anything suspect or misleading in anyway, please contact us.</p>

            <h3>1. Introduction</h3>

            <p>MELT respects and upholds your rights to privacy protection under the National Privacy Principles contained in the Privacy Act 1988 and any similar state or territory legislation applicable to MELT operations. This policy describes how we manage any personal information we have about you.</p>

            <h3>2. What personal information about me does MELT collect or hold?</h3>
            <p>If you are a customer or prospective customer, MELT may collect or hold information received as a result of any dealing, transaction or interaction with you, including:</p>
            <ul>
                <li>Contact details, such as name, address, phone numbers and email address;</li>
                <li>Any information you provide to us as a result of any dealing, transaction or interaction (for instance any feedback or requests for information); and</li>
                <li>Any information you submit for the purposes of joining any rewards program (or other such program) or collected as part of the administration of any such program.</li>
                <li>If you are an applicant for employment, MELT may collect or hold information relevant to such employment, including:</li>
                <li>Your contact details, including name, address, phone numbers and email address; and</li>
                <li>Employment and other information you submit to us as part of your application for employment (which includes any information contained in any resume you provide to us).</li>
            </ul>

            <p>MELT may also collect or hold other information you have provided to us as a result of any dealing, transaction or interaction with us which is not specified above.</p>

            </p>MELT may also collect and hold statistical information regarding the use of our website which may include your computer’s internet protocol address and the date and time of your visit.</p>

            <p>If at any time you provide the personal information of another person to us then you must ensure that that person has read and understood this policy and separately consents to that personal information being used and disclosed by us for the above purposes.</p>

            <h3>3. What does MELT do with my personal information?</h3>
            <p>We use personal information about you:</p>
            <ul>
                <li>To assist in providing goods and services to you;</li>
                <li>To assist in responding to any requests you make to us;</li>
                <li>To communicate promotional offers and special events;</li>
                <li>To assist our internal administrative, marketing, planning, product development and research requirements;</li>
                <li>To process and assess applications received by us (for instance in selecting employment candidates);</li>
                <li>To administer any rewards program (or such other program) which MELT may decide to implement;</li>
                <li>For any purpose made known to you at the time of collection of your personal information.</li>
            </ul>

            <p>MELT may disclose the information collected to agents and employees of MELT but only for the purpose for which such information was collected.</p>

            <p>At any time you may opt out of receiving any communications from us (other than as required for the operation of our business, eg regarding payment of your account).</p>

            <h3>4. Openness</h3>
            <p>You may request access to personal information we hold about you by writing to the MELT Privacy Officer at the address below. Where we hold information that you are entitled to access, we will endeavour to provide you with a suitable range of choices as to how you access it (eg emailing or mailing it to you).</p>

            <p>If you believe that personal information we hold about you is incorrect, incomplete or inaccurate, then you may request amendment of it. We will consider if the information requires amendment.</p>

            <p>If we do not agree that there are grounds for amendment, then we will add a note to the personal information stating that you disagree with it.
            Any questions about this policy, or any complaint regarding treatment of your privacy by us, should also be made in writing to the address below.</p>

            <p>Our contact details are as follows:</p>

            <p>
            MELT Support Office<br />
            171 Chapel Street<br />
            Windsor, Victoria, 3181<br />
            Phone: 1300 11 6358<br />
            </p>

            <h3>5. Miscellaneous</h3>

            <p>In this policy “personal information” has the same meaning as under the Privacy Act. References to “MELT” are to Melt Hospitality Pty Ltd (ACN 163 240 819) trading as Melt Pizza.</p>

            <p>This policy represents our policy as at 31 March 2014. We may change this policy from time to time. Although we intend to observe this policy at all times, it is not legally binding on MELT in any way. From time to time we may regard it as necessary or desirable to act outside the policy. MELT may do so, subject only to any other applicable contractual rights you have and any statutory rights you have under the Privacy Act or other applicable legislation.</p>

        </div>

    </div><!-- row -->
</div><!-- constrained -->

{% endblock body %}
