/**
 * COLORS GUIDES
 *
 * Light beige: rgb(248,245,231);
 * Orange:      rgb(239,87,39);
#section--menu div.row { border: 1px solid green !important; }
div.row { border: 1px solid red !important; }
 */

@import url("//hello.myfonts.net/count/2a89c1");
@font-face {font-family: 'FuturaBT-Bold';src: url('/bundles/website/css/webfonts/2A89C1_0_0.eot');src: url('/bundles/website/css/webfonts/2A89C1_0_0.eot?#iefix') format('embedded-opentype'),url('/bundles/website/css/webfonts/2A89C1_0_0.woff') format('woff'),url('/bundles/website/css/webfonts/2A89C1_0_0.ttf') format('truetype');}

* { outline: none; }

*, body, p, section, div,
h1, h2, h3, h4, h5, h6, span,
input, section, b, strong,
a, a:link, a:visited, a:hover
{
    font-family: 'Lekton', sans-serif;
    font-size: 16px;
}

a, a:link, a:visited, a:hover {
    color: rgb(239,87,39);
}

body {
    background-color: rgb(248,245,231);
    color: rgb(239,87,39);
}

.btn-primary {
    background-color: rgb(239,87,39);
    border-color: rgb(239,87,39);
    font-weight: bold;
    font-size: 18px;
}

#layout--header {
    display: none;
}
    #layout--header .navbar {
        width: 100% !important;
    }
    #layout--header a.navbar-brand {
        color: rgb(248,245,231);
        font-weight: bold;
    }
        #layout--header .navbar-header img {
            margin-left: 8px;
        }

    #layout--header .navbar-inverse {
        background-color: rgb(239,87,39);
    }
    #layout--header .navbar-inverse.navbar-fixed-top {
        border-bottom: 1px solid rgb(201,64,23);
    }
    #layout--header .navbar-inverse .navbar-nav>li>a,
    #layout--header .navbar-inverse .navbar-nav>li>a:hover,
    #layout--header .navbar-inverse .navbar-nav>li>a:link,
    #layout--header .navbar-inverse .navbar-nav>li>a:visited
    {
        color: rgb(248,245,231);
        font-weight: bold;
        font-family: 'FuturaBT-Bold', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
    }
    #layout--header .navbar-inverse .navbar-nav>li>a:hover {
        background-color: rgb(211,71,28);
    }
    #layout--header #float-menu--icon {
        margin-top: 8px;
        margin-right: 10px;
    }

#layout--body {
}
    #layout--body .top--nav {
        margin-top: 20px;
        text-transform: uppercase;
    }
    #layout--body .top--nav .header {
        font-weight: bold;
        display: block;
    }
    #layout--body .body-nav--item
    {
        padding-top: 130px;
    }
    #layout--body .body-nav--bottom
    {
        padding-top: 20px;
    }
    #layout--body .melt-excerpt {
        width: 480px;
        text-align: center;

        margin-left:  auto;
        margin-right: auto;
    }
    #layout--body #body-nav--container {
        margin-top: 2.5em;
    }
    #layout--body #body-nav--about {
        padding-top: 0.5em;
        display: block;
        text-align: center;
        margin: auto;
    }
    #layout--body #instafeed {
        text-align: center;
        padding: 20px 0px 10px 10px;
        height: 190px;
        text-overflow: hidden;
    }
        #layout--body #instafeed a {
            margin-right: 12px;
        }
    #layout--body .border-image-slide {
        width: 100%;
        height: 550px;
        overflow: hidden;
        position: relative;
    }
        #layout--body .border-image-slide img {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: auto;
        }

    #layout--body .about--header {
        margin-bottom: 3em;
    }
    #layout--body h2.body-header {
        display: inline-block;

        width: 130px;
        height: 35px;
        margin: 0 auto 1em;
        text-indent: -30000px;

        background-image: url(/bundles/website/images/body_headers.png);
        background-repeat: no-repeat;
        background-size: 180px 308px;
        background-position: 0 3px;
    }
        #layout--body h2.body-header.header--about {
        }
        #layout--body h2.body-header.header--menu {
            background-position: 0 -27px;
        }
        #layout--body h2.body-header.header--salads {
            background-position: 0 -86px;
            width: 135px;
        }
        #layout--body h2.body-header.header--panuzzos {
            width: 180px;
            height: 40px;
            background-position: 0 -208px;
        }
        #layout--body h2.body-header.header--sides {
            width: 100px;
            background-position: 0 -114px;
        }
        #layout--body h2.body-header.header--sweets {
            background-position: 0 -144px;
        }
        #layout--body h2.body-header.header--drinks {
            background-position: 0 -172px;
        }
        #layout--body h2.body-header.header--contact {
            width: 158px;
            margin-bottom: 0.25em;
            background-position: 0 -54px;
        }
        #layout--body h2.body-header.header--media {
            margin-bottom: 0.25em;
            background-position: 0 -247px;
        }

    #layout--body h2.drinks-header {
        display: inline-block;

        width: 280px;
        height: 53px;
        margin: 0 auto 1em;
        text-indent: -30000px;

        background-image: url(/bundles/website/images/drinks_headers.png);
        background-repeat: no-repeat;
        background-size: 280px 208px;
        background-position: 0 0;
    }
        #layout--body h2.drinks-header.header--cocktails {
            background-position: 0 3px;
        }
        #layout--body h2.drinks-header.header--vino {
            background-position: 0 -52px;
        }
        #layout--body h2.drinks-header.header--cocktail-jugs {
            margin-top: 2em;
            background-position: 0 -104px;
        }
        #layout--body h2.drinks-header.header--beer {
            margin-top: 2em;
            background-position: 0 -160px;
        }

    #layout--body .about--icons {
        height: 300px;
        text-align: center;
    }
        #layout--body .about--icons img {
            cursor: pointer;
        }

    #section--top .header a,
    #section--top .header a:hover,
    #section--top .header a:visited,
    #section--top .header a:link,
    #section--top .header {
        font-weight: bold;
    }
 
    #layout--body #section--menu {
    }
        #layout--body #section--menu .menu-type-img {
            margin-bottom: 4em;
        }
        #layout--body #section--menu .menu-item {
            margin-bottom: 1.5em;
        }
        #layout--body #section--menu h4.menu-item--title {
            margin-bottom: 0.25em;
            font-size: 20px;
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        #layout--body #section--menu #menu-type--or {
            margin-top: 8em;
            margin-bottom: 8em;
        }
        #layout--body #section--menu #menu-type--footer p {
            display: inline-block;
            text-align: center;
            width: 60%;
            margin-right: auto;
            margin-left: auto;
        }

    #layout--body #section--menu #menu--bottom-divider {
        margin-bottom: 8em;
    }

    #layout--body #section--contact {
    }
        #layout--body #section--contact p {
            line-height: 22px;
            font-weight: bold;
            font-size: 19px;
            margin-bottom: 2em;
        }
        #layout--body #section--contact input {
            font-size: 20px;
            text-align: center;
            display: block;
            padding: 8px 10px;
            margin: 0 auto;
            border: 3px dotted rgb(239,87,39);
            background-color: transparent;
            margin-bottom: 1em;
            text-transform: uppercase;
        }
        #layout--body #section--contact #contact--socials {
            margin-top: 4em;
            margin-bottom: 3em;
        }
            #layout--body #section--contact #contact--socials ul {
                padding: 0;
            }
            #layout--body #section--contact #contact--socials ul li {
                display: inline-block;
                width: 70px;
            }
        #layout--body #section--contact #contact--footer {
            margin: auto;
        }
            #layout--body #section--contact #contact--footer ul {
                font-size: 11px;
                text-align: center;
                margin-bottom: 1.5em;
                margin-left: auto;
                margin-right: auto;
                width: 650px;
            }
            #layout--body #section--contact #contact--footer li {
                display: inline-block;
            }
        #layout--body .media-list li {
            list-style: none;
        }
            #layout--body .media-list li a {
                font-weight: bold;
            }

#section--partner-partner {
    margin-top: 50px;
}
    #section--partner-partner h2 {
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
    }
    #section--partner-partner .form-group .form-control {
        font-size: 20px;
        text-align: center;
        display: block;
        padding: 8px 10px;
        height: auto;
        width: 60%;
        margin: 0 auto;
        border: 2px dotted rgb(239,87,39);
        background-color: transparent;
        margin-bottom: 1em;
        text-transform: uppercase;
    }
    #section--partner-partner .form-group input.form-control[type="text"] {
        width: 400px;
    }

#booking-modal .modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

#layout--footer {
}

#thank-you--box h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#privacy--box {}

    #privacy--box h1 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
    #privacy--box h2 {
        font-size: 20px;
        text-transform: uppercase;
    }
    #privacy--box h3 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }

/** Style themes **/
.melt-reversed {
    background-color: rgb(239,87,39);
    color: #fff;
}

.melt-marbled {
    background-image: url(/bundles/website/images/bg_marbled.jpg);
    background-repeat: repeat;
    background-size: cover;
}


/** Utilities **/

.constrained {
    width: 1024px;
    margin: 0 auto;
}

.debug,
.debug div {
    border: 1px solid #990000;
}

.melt-excerpt {
    text-transform: uppercase;
}

.push--top    { margin-top:    1.5em; }
.push--bottom { margin-bottom: 1.5em; }
.push--left   { margin-left:   1.5em; }
.push--right  { margin-right:  1.5em; }
.push--ends   { margin-top:    1.5em;
                margin-bottom: 1.5em;
              }
.push--sides  { margin-left:   1.5em;
                margin-right:  1.5em;
              }

.soft--top    { padding-top:    1.5em; }
.soft--bottom { padding-bottom: 1.5em; }
.soft--left   { padding-left:   1.5em; }
.soft--right  { padding-right:  1.5em; }
.soft--ends   { padding-top:    1.5em;
                padding-bottom: 1.5em;
              }
.soft--sides  { padding-left:   1.5em;
                padding-right:  1.5em;
              }

/** Flip **/
.flip {
    -webkit-perspective: 800;
    width: 220px;
    height: 260px;
    position: relative;
    margin: auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    cursor: pointer;
    vertical-align: top;
    text-align: center;
}
.flip .card .back h4 {
    font-weight: bold;
    line-height: 20px;
}
.flip .card .back p {
    line-height: 20px;
}

/** Media queries **/
@media(max-width:480px){
    div.row {
        width: 100%;
        margin: 0 auto;
    }
        #section--menu .menu-type-img img {
            width: 280px;
            height: 225px;
        }

    .constrained {
        width: 99%;
        margin: 0 auto;
    }
    #signup-text {
        width: 278px;
        height: 47px;
    }
    #signup-form input {
        width: 280px;
    }
}
@media(max-width:767px){
    div.row {
        width: 100%;
        margin: 0 auto;
    }
    .constrained {
        width: 99%;
        margin: 0 auto;
    }
    #layout--body #body-nav--container
    {
        margin-top: 0 !important;
    }
    #layout--body .body-nav--item
    {
        text-align: center !important;
        padding-top: 1em !important;
    }
    #layout--body #section--top .row div {
        margin-top: 1em;
        text-align: center !important;
    }
    #layout--body #section--contact #contact--footer ul {
        width: 100%;
    }
    #layout--body .melt-excerpt {
        width: 98%;
    }
    #layout--body .about--icons {
        height: auto;
        margin-bottom: 1.5em;
    }
    #layout--body .border-image-slide {
        display: none;
    }
    div#instafeed {
        overflow: hidden;
    }
    #instafeed img {
        padding-bottom: 1.5em;
    }
}
@media(min-width:768px){
}
@media(min-width:992px){
}
@media(min-width:1200px){}
